:root {
  /* CSS variable for body's width */
  --navbar-body: 300px;
  --white: #ccd6f6;
  --green: #64ffda;
  --dark-blue: #051329;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Courier, monospace;
}

#app{
  width: 100%;
  height: 100%;
  display: flex;
}